
.myclass {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #343437;
    line-height: 25px;
    font-weight: normal;
    font-size: 14px;
}


.row:before, .row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.band {
    background: #4298b8;
    height: 400px;
    margin-bottom: 20px;
    color: white
}

.band .item {
    text-align: center
}

.band .item:before, .band .item:after {
    content: " ";
    display: table
}

.band .item:after {
    clear: both
}



.table {
    margin: 20px 0
}

.table thead tr th {
    padding: 10px;
    font-weight: normal;
    font-size: 18px
}

.table tbody tr td {
    vertical-align: top;
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #EEE
}

*, *:after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background: #444
}

html.noScroll {
    overflow: hidden
}

html.noScroll body, html.noScroll .st-container, html.noScroll .st-pusher, html.noScroll .st-content {
    overflow: hidden
}

html, body, .st-container, .st-pusher, .st-content {
    overflow: auto
}

.sign-in-fa-icon:before {
    font-family: FontAwesome;
    content: '\f090';
    padding-right: 10px;
}

#st-container {
    height: 100%;
}

.st-content {
    background: white
}

.st-content, .st-content-inner {
    position: relative;
    height: 100%;
}

.st-container {
    position: relative;
    overflow: hidden
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    opacity: 0;
    -webkit-transition: opacity .5s, width .1s .5s, height .1s .5s;
    transition: opacity .5s, width .1s .5s, height .1s .5s
}

